* {
    font-family: "SF Pro";
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    background-color: #fefae0;
    margin: 0px 0px;
}

header {
    background-color: #606c38;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #fefae0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}

.sidebar {
    background-color: #606c38;
    color: #fefae0;
    height: 100%;
    position: fixed;
    top: 50px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 15px;
    width: 100px;
    margin-left: -150px;
    transition: all 1s;
}

.openSdb {
    background-color: #606c38;
    border: none;
    cursor: pointer;
    margin-right: 50px;
}

.clsSdb {
    background-color: #606c38;
    color: #fefae0;
    border: none;
    cursor: pointer;
    font-size: 30px;
    text-align: left;
}

.sidebar nav a  {
    color: #fefae0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.sidebar nav a img {
    margin-right: 10px;
}
main {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 200px;
}

.itemContainer {
    background-color: #606c38;
    color: #fefae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
}

.itemContainerWrapper {
    display: grid;
    column-gap: 3%;
    row-gap: 5%;
    background-color: #fefae0;
}

footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: #606c38;
    color: #fefae0;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../sf-pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* for mobile devices */
@media (min-width: 50px) and (max-width: 480px) {
    .logoName {
        font-size: 17px;
    }
    .itemContainerWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    main h1 {
        font-size: 16px;
    }
}

/* for tablets and iPads */
@media (min-width: 481px) and (max-width: 768px) {
    .logoName {
        font-size: 17px;
    }
    .itemContainerWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    main h1 {
        font-size: 16px;
    }
}

/* for small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .logoName {
        font-size: 21px;
    }
    .itemContainerWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    main h1 {
        font-size: 20px;
    }
}

/* for desktops and large screens  */
@media (min-width: 1025px) and (max-width: 1200px) {
    .logoName {
        font-size: 26px;
    }
    .itemContainerWrapper {
        grid-template-columns: repeat(5, 1fr);
    }
    main h1 {
        font-size: 25px;
    }
}

/* for extra large screens */
@media (min-width: 1201px) {
    .logoName {
        font-size: 31px;
    }
    .itemContainerWrapper {
        grid-template-columns: repeat(6, 1fr);
    }
    main h1 {
        font-size: 30px;
    }
}